# Created by .ignore support plugin (hsz.mobi)
.idea
.vscode
__pycache__/
logs
celerybeat-schedule.db
.env
config/*.yaml
*.pyc
.cache/
*/.cache/
.mypy_cache/
first_task_execution/user_name_first.py
first_task_execution/rpc.py
first_task_execution/login_first.py
